<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension id="SearchComponent"
              point="org.protege.editor.core.application.ViewComponent">
      <label value="Advanced Annotation Search"/>
      <class value="org.usd.edu.search.SearchComponent"/>
      <category value="@org.protege.ontologycategory"/>
   </extension>
</plugin>
